@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: 'Open sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color:#0C1226;
  background-color: #E8ECF3;
}
.custom-toast {
  background-color: #333;
  color: #fff;
  border-radius: 10rem;
}

.custom-toast-body {
  padding: 2rem;
}

.custom-toast-progress {
  background-color: #fff;
}
